/* CSS Document */
*, *::after, *::before {
  box-sizing:border-box;  
}

body {
  margin: 0;
  background-color: white;
  font-size: 1em;
  scroll-behavior: smooth;
}

a {
  color: black;
  padding-bottom: 1.5px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  text-decoration: none;
  outline-style: none;
}

button {
  cursor: pointer;
}


/* header */

.header ul {
  position: absolute;
  width: 70%;
  z-index: 100;
  margin: 0;
  left: -100%;
  list-style-type: none;
  background-color: white;
}

.hamburger-menu {
  margin-left: 1em;
  width: 30px;
  height: 30px;
}

.header ul li {
  padding-bottom: 1.5em;
  margin-left: 0;
}

.header ul li a{
  color: black;
}

.toonMenu .standard-menu {
  left: 0;
  top: 0;
  padding-top: 3em;
  padding-left: 0;
  font-family: 'PT Sans Narrow', sans-serif;
  text-transform: uppercase;
  margin-bottom: 3em;
  background-color: white;
  height: 60em;
}

.toonMenu ul li:nth-of-type(5) {
  position: absolute;
  top: 0;
  right: 0;
  padding-top: 1em;
}

.toonMenu .socialmedia-hamburgermenu {
  display: flex;
  padding-left: 0;
  background-color: black;
  left: 0;
  padding: 1em;
  position: fixed;
  bottom: 0;
  margin-top: 6em;
}

.socialmedia-hamburgermenu li img {
  width: 23px;
  height: 23px;
}

.socialmedia-hamburgermenu li {
  padding: 1em;
}
  
.toonMenu .storelocator-hamburgermenu {
  background-color: black;
  color: white;
  left: 0;
  bottom: 9%;
  position: fixed;
  font-family: 'PT Sans Narrow', sans-serif;
  text-transform: uppercase;
  display: grid;
  grid-template-columns: 1fr;
}

.toonMenu .storelocator-hamburgermenu a {
  padding: .2em;
  color: white;
  
}

.toonMenu .storelocator-hamburgermenu li span {
  font-family: 'PT Sans Narrow', sans-serif;
  text-transform: uppercase;
  font-size: 1em;
  color: white;
  display: flex;
}

header button {
  border: none;
  background-color: transparent;
  outline: none;
}

header button img {
  width: 25px;
  height: 25px;
}

.header {
  background-color: white;
  position: sticky;
  top: 0;
  width: 100%;
  height: 75px;
  z-index: 3;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.header a .logo {
  width: 226px;
  height: 55px;
  align-items: center;
}

.header a {
  border-bottom: none;
  display: block;
  max-width: 300px;
  margin: 0 auto;
  width: 90%;
}


.search-icon {
  position: absolute;
  right: 3em;

}

.shopping-bag-icon {
  position: absolute;
  right: 0;
}

.header .shopping-bag-icon span {
  position: absolute;
  min-width: 1.5em; line-height: 1.5em;
  padding: .1em;
  right: 3em; top: .7em;
  font-size: .7em;
  text-align: center;
  color: black;
}

/* main */

main img {
  width: 100%;
}

main  {
  width: 100%;
  display:grid;
  grid-template-columns:1fr 1fr;
  grid-gap: 1.75em;
  padding: 1.75em;
}

#stoneislandxpersol {
  grid-column: 1 / 3;
  grid-row: 1;
}

#shadowproject-autumnwinter {
  grid-column: 1 / 3;
  grid-row: 3;
}

/* main h1 */

#stoneislandxpersol {
  position: relative;
  text-align: center;
  font-family: 'PT Sans Narrow', sans-serif;
  text-transform: uppercase;
  margin-bottom: 3em;
}

#stoneislandxpersol img {
  margin-top: 2em;
}

#stoneislandxpersol h1 {
  font-size: 1.7em;
  margin-top: .2em;
  font-weight: normal;
  letter-spacing: 1.6px;
}

/* main h2 */

article {
  position: relative;
  text-align: left;
  font-family: 'PT Sans Narrow', sans-serif;
  text-transform: uppercase;
  margin-bottom: 3em;
}

h2 {
  font-size: 1.7em;
  margin-top: .2em;
  padding-right: 1em;
  font-weight: normal;
  margin-bottom: .4em;
}

/* main h3 */

#shadowproject-autumnwinter {
  position: relative;
  text-align: left;
  font-family: 'PT Sans Narrow', sans-serif;
  text-transform: uppercase;
  margin-bottom: 3em;
}

#shadowproject-autumnwinter h3 {
  font-size: 1.7em;
  margin-top: .2em;
  padding-right: 4em;
  font-weight: normal;
  margin-bottom: .4em;
  letter-spacing: 1.6px;
}

#shadowproject-autumnwinter a:last-of-type {
  margin-left: 1.3em;
}

/* main h4 */

h4 {
  font-size: 1.7em;
  margin-top: .2em;
  padding-right: 1.5em;
  font-weight: normal;
  margin-bottom: .4em;
  letter-spacing: 1.6px;
}


/* footer */

footer {
  background-color: black;
  color: #919191;
  font-size: 1em;
  padding: 1.75em;
  letter-spacing: .15em;
} 

footer h5:first-of-type {
  font-family: 'PT Sans Narrow', sans-serif;
  text-transform: uppercase;
  font-size: 1em;
  text-align: center;
  padding-top: 1.5em;
  letter-spacing: 1.6px;
}

footer a {
  color: white;
  font-size: 1em;
  text-decoration: none;
  border-bottom: none;
}

#customer-service {
  width: 100%;
  display: grid;
  grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
  column-gap: 2.1875rem;
}

#customer-service ul {
  padding: .2em;
  
}

#customer-service li span {
  font-family: 'PT Sans Narrow', sans-serif;
  text-transform: uppercase;
  font-size: 1em;
  color: white;
}

#customer-service li::after {
  list-style-type: none;
  content: "";
  display: table;
  clear: both;
}

#customer-service li {
  list-style-type: none;
  margin-top: 1.2em;
  font-family: 'PT Sans Narrow', sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  font-size: .9em;
  line-height: 25px;
}

#social-media h5 {
  text-align: left;
  padding-left: 1em;
}

#social-media ul {
  width: 100%;
  display: flex;
  padding-left: 0;
  margin-left: auto;
  margin-right: auto;
}

#social-media li{
  list-style-type: none;
  padding: .7em;
}

#social-media li img {
  width: 23px;
  height: 23px;
}

#legal-area {
  text-align: center;
}

#legal-area ul {
  font-family: 'PT Sans Narrow', sans-serif;
  display: flex; 
  text-align: left; 
  margin-left: auto;
  margin-right: auto;
  width: 26em;
}

#legal-area li {
  list-style-type: none;
}

#legal-area a {
  padding-right: 1.5em;
  padding-left: 1.5em;
  border-right-style: solid;
  border-right-width: 1px;
  text-decoration: none;
  font-family: 'PT Sans Narrow', sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  font-size: .8em;
  text-align: center;
}

#copyright {
  text-align: center;
  background-color: black;
  padding-bottom: 2em;
}

#copyright h6 {
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: .8em;
  margin-bottom: .5em;
  letter-spacing: 1.6px;
}

#copyright a {
  text-decoration: underline;
  color: #919191;
  display: block;
  margin-top: 1em;
  font-size: .8em;
}

footer form {
  display: flex;
}

footer form input {
  width: 350px;
  height: 62px;
  background-color: black;
  border: solid white 1px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 1em;
  margin-top: 1em;
  outline: none;
}

footer form input::placeholder {
  color: white;
}

footer form button {
  display: none;
}

.banner {
  display: block;
}

.poly-colour-page .banner h1 {
  font-family: 'PT Sans Narrow', sans-serif;
  text-transform: uppercase;
  font-weight: normal;
  text-align: center;
}

.poly-colour-page {
  display: block;
}

.banner p {
  margin-left: 2em;
  margin-right: 2em;
  letter-spacing: 1.4px;
  line-height: 25px;
  font-size: .85em;
  font-family: 'PT Sans Narrow', sans-serif;
  text-transform: uppercase;
  text-align: center;
}

.products-poly-colour {
  display: grid;
  grid-template-columns:1fr 1fr 1fr 1fr;

}

.products-poly-colour h2 {
  font-size: 1em;
  font-family: 'PT Sans Narrow', sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1.4px;
}

.bottom-banner {
  display: grid;
  grid-template-columns:1fr 1fr;
  grid-gap: 1.75em;
}

.bottom-banner img:last-of-type {
  grid-column: 1 / 3;
  grid-row: 2;
}

.poly-colour-page button {
  background-color: black;
  color: white;
  border: none;
  padding: 1em;
  font-family: 'PT Sans Narrow', sans-serif;
  text-transform: uppercase;
  outline: none;
  transition: .25s;
}


/* Alle breakpoint */

@media (max-width:600px) {
  .products-poly-colour {
    display: grid;
    grid-template-columns:1fr;
  }
} 


@media (min-width:600px) {
  .products-poly-colour {
    display: grid;
    grid-template-columns:1fr 1fr;
  }

  #customer-service {
    display: grid;
    grid-template-columns:1fr 1fr 1fr;
  }
} 


@media (min-width:900px) {
  .products-poly-colour {
    display: grid;
    grid-template-columns:1fr 1fr 1fr;
  }
} 

@media (min-width:1200px) {
  .products-poly-colour {
    display: grid;
    grid-template-columns:1fr 1fr 1fr 1fr;
  }
} 

@media (min-width:1000px) {
  #customer-service ul:nth-of-type(2) {
    width: 100%;
    display: grid;
    grid-template-columns:1fr 1fr;
    grid-column: 1 / 2;
    grid-row: 1;
    grid-area: auto;
  }

  #customer-service ul:nth-of-type(3) {
    width: 100%;
    display: grid;
    grid-template-columns:1fr 1fr;
    grid-column: 1 / 2;
    grid-row: 1;
    grid-area: auto;
  }
}

@media (min-width: 48em) {
  .header nav ul {
    right: 0;
    position: absolute;
  }
  
  .header li a {
    padding: 20px 30px;
  }

  .header nav .menu {
    clear: none;
    float: right;
    max-height: none;
  }

  .header .hamburger-menu {
    display: none;
  }

  .header a .logo {
    left: 0;
    position: absolute;
    top: 0;
    margin-top: 1em;
  }
}




/* Iphone XS View */
@media (max-width:375px) {
  .header {
    width: 375px;
  }
  
  main { 
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  align-items: center;
  align-content: center;
  padding: 1em;
  margin: 0;
  }
}

@media (min-width:1000px) {
  #customer-service {
    margin-left: auto;
    margin-right: auto;
    padding: 1em;
  }
}


/* alle states */

main a:focus,
#customer-service a:focus,
#legal-area a:focus,
#copyright a:focus {
  border: solid 1px white;
  padding: .3em;
  background-color: black;
  color: white;
  transition: .25s;
}

footer form input:focus {
  border: solid 3px green;
  transition: .25s;
}


.standard-menu {
  transition: .25s;
}

.standard-menu a:hover,
.standard-menu a:focus {
  transition: .25s;
  color: grey;
}

#social-media a:focus {
  border-bottom: solid 1px white;
  padding: .5em;
  background-color: black;
  transition: .5s;
}

#social-media a:hover {
  border-bottom: solid 1px white;
  transition: .25s;
  padding: .5em;
}

#legal-area a:hover {
  border-bottom: solid 1px white;
  transition: .25s;
  padding: 1em;
  border-right: none;
}

.poly-colour-page button:focus,
.poly-colour-page button:hover {
  background-color: white;
  color: black;
  border: solid 1px black;
}

footer #customer-service a:hover {
  padding-bottom: 1.5px;
  border-bottom: solid 1px white;
  transition: 1s;

}

main a:hover {
  color: grey;
}