/* CSS Document */
*, *::after, *::before {
  box-sizing:border-box;  
}

body {
  margin: 0;
  background-color: white;
  font-size: 1em;
}

a {
  color: black;
  padding-bottom: 1.5px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  text-decoration: none;
}

/* header */

.header {
  background-color: white;
  position: fixed;
  width: 100%;
  height: 75px;
  z-index: 3;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}


.menu {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: white;
  overflow-x: hidden;
  transition: 0.5s;
  width: 15em;
  padding-top: 60px;
}

menu a {
  text-decoration: none;
  display: block;
  transition: 0.3s;
  color: black;
  padding: 8px 8px 8px 32px;

}

.search-icon {
  padding: 0;
  margin-right: 1em;
  margin-left: 9em;
}

.shopping-bag-icon {
  padding: 0;
  margin: 0;
}


/* hamburger-menu */

.hamburger-menu {
  width: 30px;
  height: 30px;
  margin-left: 1em;
}

/* header logo stoneisland */

.logo {
  width: 225px;
  height: 55px;
  left: 35%;
  position: relative;
  float: left;

}

.header a {
  border-bottom: none;
}
header button {
  border: none;
  background-color: transparent;
}

header button img {
  width: 20px;
  height: 20px;
}

/* main */

main img {
  width: 100%;
}

main  {
  width: 100%;
  display:grid;
  grid-template-columns:1fr 1fr;
  grid-gap: 1.75em;
  padding: 1.75em;
}

#stoneislandxpersol {
  grid-column: 1 / 3;
  grid-row: 1;
}

#shadowproject-autumnwinter {
  grid-column: 1 / 3;
  grid-row: 3;
}

/* main h1 */

#stoneislandxpersol {
  position: relative;
  text-align: center;
  font-family: 'PT Sans Narrow', sans-serif;
  text-transform: uppercase;
  margin-bottom: 3em;
}

#stoneislandxpersol img {
  margin-top: 2em;
}

#stoneislandxpersol h1 {
  font-size: 1.7em;
  margin-top: .2em;
  font-weight: normal;
  letter-spacing: 1.6px;
}

/* main h2 */

article {
  position: relative;
  text-align: left;
  font-family: 'PT Sans Narrow', sans-serif;
  text-transform: uppercase;
  margin-bottom: 3em;
}

h2 {
  font-size: 1.7em;
  margin-top: .2em;
  padding-right: 1em;
  font-weight: normal;
  margin-bottom: .4em;
}

/* main h3 */

#shadowproject-autumnwinter {
  position: relative;
  text-align: left;
  font-family: 'PT Sans Narrow', sans-serif;
  text-transform: uppercase;
  margin-bottom: 3em;
}

#shadowproject-autumnwinter h3 {
  font-size: 1.7em;
  margin-top: .2em;
  padding-right: 4em;
  font-weight: normal;
  margin-bottom: .4em;
  letter-spacing: 1.6px;
}

#shadowproject-autumnwinter a:last-of-type {
  margin-left: 1.3em;
}

/* main h4 */

h4 {
  font-size: 1.7em;
  margin-top: .2em;
  padding-right: 1.5em;
  font-weight: normal;
  margin-bottom: .4em;
  letter-spacing: 1.6px;
}


/* footer */

footer {
  background-color: black;
  color: #919191;
  font-size: 1em;
  padding: 1.75em;
  letter-spacing: .15em;
  /* width: 100%;
  display: grid;
  grid-template-columns:1fr 1fr;
  grid-gap: 1.75em; */
} 

footer h5:first-of-type {
  font-family: 'PT Sans Narrow', sans-serif;
  text-transform: uppercase;
  font-size: 1em;
  text-align: center;
  padding-top: 1.5em;
  letter-spacing: 1.6px;
}

footer a {
  color: white;
  font-size: 1em;
  text-decoration: none;
  border-bottom: none;
}

#customer-service {
  width: 100%;
  display: grid;
  grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
  column-gap: 2.1875rem;
}

#customer-service ul {
  float: center;
  padding: 10px;
  
}

#customer-service li span {
  font-family: 'PT Sans Narrow', sans-serif;
  text-transform: uppercase;
  font-size: 1em;
}

#customer-service li::after {
  list-style-type: none;
  content: "";
  display: table;
  clear: both;
}

#customer-service li {
  list-style-type: none;
  margin-top: 1.5em;
  font-family: 'PT Sans Narrow', sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1em;
}

#customer-service a:hover {
  padding-bottom: 1.5px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  transition: 0.2s;

}

#social-media h5 {
  text-align: left;
  padding-left: 1em;
}

#social-media ul {
  width: 100%;
  display: flex;
  padding-left: 0;
  margin-left: auto;
  margin-right: auto;
  
}

#social-media li{
  list-style-type: none;
  padding: .7em;
  
  
}

#social-media li img {
  width: 23px;
  height: 23px;
}

#legal-area ul {
  width: 100%;
  display: flex;
  grid-template-columns: 1fr 1fr 1fr;
  margin-right: auto;
  margin-left: auto;
  
}

#legal-area li {
  list-style-type: none;

}

#legal-area a {
  padding-right: 1.5em;
  padding-left: 1.5em;
  border-right-style: solid;
  border-right-width: 1px;
  text-decoration: none;
  font-family: 'PT Sans Narrow', sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  font-size: .8em;
  text-align: center;
}

#copyright {
  text-align: center;
  background-color: black;
  padding-bottom: 2em;
}

#copyright h6 {
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: .8em;
  margin-bottom: .5em;
  letter-spacing: 1.6px;
}

#copyright a {
  text-decoration: underline;
  color: #919191;
  display: block;
  margin-top: 1em;
  font-size: .8em;
}

footer form {
  display: flex;
}

footer form input {
  width: 350px;
  height: 62px;
  background-color: black;
  border: solid white 1px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 1em;
  margin-top: 1em;

}

footer form input::placeholder {
  color: white;
}

footer form button {
  display: none;
}



/* 48em = 768px */ 

@media (min-width: 48em) {
  .header li {
    float: right;
  }
  
  .header li a {
    padding: 20px 30px;
  }

  .header nav .menu {
    clear: none;
    float: right;
    max-height: none;
  }

  .header .hamburger-menu {
    display: none;
  }

  .header .logo {
    position: relative;
    float: left;

  }
}





@media (max-width:375px) {
  .header {
    width: 375px;
  }
  
  main { 
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  align-items: center;
  align-content: center;
  padding: 1em;
  margin: 0;
  }
}

@media (min-width:1000px) {
  #customer-service {
    margin-left: auto;
    margin-right: auto;
    padding: 1em;
  }
}


.banner {
  display: block;
}

.banner img {
  margin-top: 5em;
}


.poly-colour-page {
  display: block;
}


.products-poly-colour {
  display: grid;
  grid-template-columns:1fr 1fr 1fr 1fr;

}

.products-poly-colour h2 {
  font-size: 1em;
}

.bottom-banner {
  display: grid;
  grid-template-columns:1fr 1fr;
  grid-gap: 1.75em;
}

.bottom-banner img:last-of-type {
  grid-column: 1 / 3;
  grid-row: 2;
}